.main-container{
    position: relative;
    display: inline-block;
    
}
.info-div{
    width: 50%;
    background: linear-gradient(rgba(236, 216, 255, 1), rgba(255, 255, 255, 1) );
    position: absolute;
    top: 10%;
    left: 80%;
    padding: 3%;
    margin-left: auto;
    margin-right: auto;
}
.intro{
    width: 25%;
    text-align: justify;
}
.right-text{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    width: 100%;
}

.left-fixed{
    position: fixed;
    z-index: 1;
    bottom: 30%;
    background-color: white;
    padding: 2%;

}
.social{
    font-size: 19px;
    transition: all 1s;
    cursor: pointer;
}
.social:hover{
    transform: rotate(180deg);
}
.right-fixed{
    position: fixed;
    z-index: 1;
    right: 0;
    bottom: 10%;
}
.motion{
    background-color: rgba(223, 255, 97, 1);
    text-transform: uppercase;
    padding: 2%;
    height: 200px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .info-div{
        width: 100%;
        background: linear-gradient(rgba(236, 216, 255, 1), rgba(255, 255, 255, 1) );
        position: relative;
        top:0;
        bottom: 0;
        left: 0;
        padding: 5%;
        margin-left: 0;
        margin-right: 0;
        text-align: justify;
    }
    .intro{
        width: 100%;

    }

}
@media only screen and (min-width: 600px) and (max-width: 768px) {
    .info-div{
        width: 100%;
        background: linear-gradient(rgba(236, 216, 255, 1), rgba(255, 255, 255, 1) );
        position: relative;
        top:0;
        bottom: 0;
        left: 0;
        padding: 5%;
        margin-left: 0;
        margin-right: 0;
        text-align: justify;
    }
    .intro{
        width: 100%;
        
    }

}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .info-div{
        width: 100%;
        background: linear-gradient(rgba(236, 216, 255, 1), rgba(255, 255, 255, 1) );
        position: relative;
        top:0;
        bottom: 0;
        left: 0;
        padding: 5%;
        margin-left: 0;
        margin-right: 0;
        text-align: justify;
    }
    .intro{
        width: 100%;
        margin-right: 10px;     
    }

   
}

/* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) and (max-width:1200px) {
    .info-div{
        width: 40%;
        background: linear-gradient(rgba(236, 216, 255, 1), rgba(255, 255, 255, 1) );
        position: absolute;
        top: 10%;
        left: 80%;
        padding: 3%;
        margin-left: auto;
        margin-right: auto;
    }
 } 